html, body {
    height: 100%;
    width: 100%;
    background: #FAFAFA;
}

*:focus {
    outline: none;
}

form {
    margin: 0 !important;
}

table {
    width: 100%;
}

td, th {
    padding: .5%;
}

label {
    margin: 0;
}

input[type="radio"] {
    margin-left: 5%;
    margin-right: 1%;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 12%;
    background-color: #4C4C4C;
    float: left;
    text-align: center;
}

.logo {
    margin-left: -28%;
    margin-top: -9%;
    width: 150%;
}

.menu {
    margin-top: 5%;
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    width: 100%;
    padding: 5% 0;
    border-bottom: 1px solid #FF3333;
    border-top: 1px solid #FF3333;
}

li:hover {
    background: #FF3333;
}

.menu-item {
    color: white;
    font-size: 1.6em;
}

.menu-item:hover {
    text-decoration: none;
    color: white;
}

.title {
    margin-top: 0;
}

.search-container {
    margin-bottom: 2%;
}

.search-bar {
    width: 25%;
    border-radius: 5px;
    border: 1px solid #F1F1F1;
    padding: .75%;
    background: white;
}

.search-input {
    padding-left: 1%;
    width: 90%;
    border: none;
}

#filters-select {
    padding: 1%;
    margin-top: 1%;
    border-radius: 5px 0 0 0;
    font-size: 1.3em;
    color: #4C4C4C;
    border-right: 1px solid #F1F1F1;
}

#filters-select:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filters-selected {
    background-color: #F1F1F1;
}

.filter-container {
    display: none;
    background-color: #F1F1F1;
    padding: 0 1% 1% 1% 1%;
    border-radius: 5px;
}

.filter-row {
    text-align: center;
}

.filter-data {
    width: 33.33%;
}

.filter-label {
    padding-left: 2%;
}

.btn {
    margin-left: 1%;
}

.content-container {
    float: right;
    width: 88%;
    padding: 2%;
}

.members-row:nth-child(even) {
    background-color: #f2f2f2;
}
