@(chapters: List[Chapter], errors: List[String])

<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/addMember.css" />
    <link rel="stylesheet" href="assets/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <script src= "https://use.fontawesome.com/3d943843e1.js"></script>
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <a href="http://www.winwoman.org"><img class="logo" src="/assets/images/win-logo.png" /></a>
        <ul class="menu">
            <a class="menu-item" href="@routes.BaseController.index"><li>Members</li></a>
            <a class="menu-item" href="@routes.ChapterController.index"><li>Chapters</li></a>
        </ul>
    </div>

    <div class="content-container">
        <h1>Add Member</h1>
        <hr>
        @for(error <- errors){
            <p class="error">@error</p>
        }
        <form name="add-member" method ="POST" action="@routes.MemberController.addMember">
            <table>
                <tr>
                    <th>*First Name</th>
                    <th>*Last Name</th>
                </tr>
                <tr>
                    <td><input class="form-control" name="firstName" /></td>
                    <td><input class="form-control" name="lastName" /></td>
                </tr>
                <tr>
                    <th>*Email</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    <td><input class="form-control" name="email" /></td>
                    <td><input class="form-control" name="phone" placeholder="XXX-XXX-XXXX"/></td>
                </tr>
                <tr>
                    <th>*Date Joined</th>
                    <th>Chapter</th>
                </tr>
                <tr>
                    <td><input data-provide="datepicker" class="form-control datepicker" name="joinDate" placeholder=" YYYY-MM-DD"/></td>
                    <td>
                        <select class="form-control" name="chapter">
                            @for(chapter <- chapters){
                            <option value="@chapter.getID">@chapter.getName</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Company</th>
                    <th>Job Title</th>
                </tr>
                <tr>
                    <td><input class="form-control" name="company" /></td>
                    <td><input class="form-control" name="job" /></td>
                </tr>
                <tr>
                    <th>Volunteer</th>
                </tr>
                <tr>
                    <td>
                        <select class="form-control" name="volunteer">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
    <script src="assets/javascripts/main.js"></script>
</body>
</html>