@(member : MemberDetail, chapters: List[Chapter], errors: List[String])

<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/editMember.css" />
    <link rel="stylesheet" href="/assets/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <script src= "https://use.fontawesome.com/3d943843e1.js"></script>
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <a href="http://www.winwoman.org"><img class="logo" src="/assets/images/win-logo.png" /></a>
        <ul class="menu">
            <a class="menu-item" href="@routes.BaseController.index"><li>Members</li></a>
            <a class="menu-item" href="@routes.BaseController.renderChapters"><li>Chapters</li></a>
        </ul>
    </div>
    <div class="content-container">
        <a class="btn btn-danger" href="@routes.MemberController.deleteMember(member.getID)">Delete Member</a>
        <h1>Edit Member</h1>
        <hr>
        @for(error <- errors){
        <p class="error">@error</p>
        }
        <form id="edit-member" method ="POST" action="@routes.MemberController.editMember(member.getID)">
            <table>
                <tr>
                    <th><label>*First Name</label></th>
                    <th><label>*Last Name</label></th>
                </tr>
                <tr>
                    <td><input class="form-control" name="firstName" value="@member.getFirstName"/></td>
                    <td><input class="form-control" name="lastName" value="@member.getLastName"/></td>
                </tr>
                <tr>
                    <th><label>*Email</label></th>
                    <th><label>Phone</label></th>
                </tr>
                <tr>
                    <td><input class="form-control" name="email" value="@member.getEmail"/></td>
                    <td><input class="form-control" name="phone" value="@member.getPhone"/></td>
                </tr>
                <tr>
                    <th><label>Company</label></th>
                    <th><label>Job Title</label></th>
                </tr>
                <tr>
                    <td><input class="form-control" name="company" value="@member.getCompany"/></td>
                    <td><input class="form-control" name="job" value="@member.getJobTitle"/></td>
                </tr>
                <tr>
                    <th><label>*Date Joined</label></th>
                    <th><label>Chapter</label></th>
                </tr>
                <tr>
                    <td><input data-provide="datepicker" class="form-control datepicker" name="joinDate" value="@member.getDateJoined"/></td>
                    <td>
                        <select class="form-control" name="chapter">
                            @for(chapter <- chapters){
                                @if(chapter.getName != member.getChapter){
                                    <option value="@chapter.getID">@chapter.getName</option>
                                }else{
                                    <option value="@chapter.getID" selected>@chapter.getName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr><th>Volunteer</th></tr>
                <tr>
                    <td>
                        <select class="form-control" name="volunteer">
                            @if(member.getVolunteer == "Yes"){
                                <option value="0">No</option>
                                <option value="1" selected>Yes</option>
                            }else{
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
            <button class="btn btn-success" type="submit" form="edit-member">Update</button>
            <a class="btn btn-default" href="@routes.BaseController.index">Cancel</a>
        </form>
    </div>
    <script src="/assets/javascripts/main.js"></script>
</body>
</html>