@(members : List[MemberDetail], chapters: List[Chapter])

<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <script src= "https://use.fontawesome.com/3d943843e1.js"></script>
    <script src="/assets/lib/jquery/jquery.min.js"></script>
</head>
<body>

    <div class ="sidebar">
        <a href="http://www.winwoman.org"><img class="logo" src="/assets/images/win-logo.png" /></a>
        <ul class="menu">
            <a class="menu-item" href="@routes.BaseController.renderAddMember"><li>Add Member</li></a>
            <a class="menu-item" href="@routes.BaseController.renderChapters"><li>Chapters</li></a>
            <a class="menu-item" href="@routes.BaseController.renderAddChapter"><li>Add Chapter</li></a>
        </ul>
    </div>

    <div class="content-container">
        <h2 class="title">Members</h2>
        <hr>
        <div class="search-container">
            <form action="@routes.SearchController.search" method="GET" id="search-form">

                <div class="search-bar">
                    <i class="fa fa-search"></i>
                    <input class="search-input" name="input" placeholder="eg: name, company, job title"/>
                </div>

                <input id="filters-flag" type="hidden" value="no" name="apply-filters">
                <label id="filters-select">Filters</label>

                <button class="btn btn-success" form="search-form">Submit</button>

                <div class="filter-container">
                    <table class="filter-table">
                        <tr>
                            <th class="filter-row">Chapter</th>
                            <th class="filter-row">Volunteer</th>
                            <th class="filter-row">Tenure</th>
                        </tr>

                        <tr class="filter-row">
                            <td class="filter-data">
                                <select class="form-control" name="chapter-filter">
                                    @for(chapter <- chapters){
                                    <option value="@chapter.getID">@chapter.getName</option>
                                    }
                                </select>
                            </td>

                            <td class="filter-data">
                                <input type="radio" name="vol-filter" value="-1" id="r1" checked><label for="r1">N/A</label>
                                <input type="radio" name="vol-filter" value="1" id="r2"><label for="r2">Yes</label>
                                <input type="radio" name="vol-filter" value="0" id="r3"><label for="r3">No</label>
                            </td>

                            <td class="filter-data">
                                <input type="radio" name="date-filter" value="-1" id="r4" checked><label for="r4">N/A</label>
                                <input type="radio" name="date-filter" value="0" id="r5"><label for="r5">< 1yr</label>
                                <input type="radio" name="date-filter" value="1" id="r6"><label for="r6">< 3yrs</label>
                                <input type="radio" name="date-filter" value="2" id="r7"><label for="r7">3+ yrs</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <hr>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Chapter</th>
                <th>Date Joined</th>
                <th>Company</th>
                <th>Job Title</th>
                <th>Volunteer</th>
            </tr>
        @if(members.size > 0){
            @for(member <- members){
                <tr class="members-row">
                    <td><a href="@routes.BaseController.renderEditMember(member.getID)">@member.getFullName</a></td>
                    <td><a href="mailto:@member.getEmail">@member.getEmail</a></td>
                    <td>@member.getPhone</td>
                    <td>@member.getChapter</td>
                    <td>@member.getDateJoined</td>
                    <td>@member.getCompany</td>
                    <td>@member.getJobTitle</td>
                    <td>@member.getVolunteer</td>

                </tr>
            }
        }else{
            <tr>
                <td><h4>:( No members found</h4></td>
            </tr>
        }
        </table>
    </div>
</body>
<script src="assets/javascripts/main.js"></script>
</html>
